body {
  margin: 0;
  color: #8e151d;
  background: #EBF0F5;
}

.header {
  width: 980px;
  height: auto;
  background: #2cafcf;
  margin: 0 auto;
}

.footer {
  text-align: center;
  width: 980px;
  height: 25px;
  background: black;
  margin: 0 auto;
  padding: 5px 0;
}

.main-wrap {
  text-align: left;
  width: 980px;
  height: 500px;
  margin: 0 auto;
}

.main-wrap>.main {
  width: 660px;
  height: 100%;
  background: #2cafcf;
  float: left;
  padding-left: 20px;
}

.main dt {
  font-weight: bold;
  float: left;
}

.main dd {
  margin-left: 80px;
}

.main-wrap>.sidebar {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background: #2cafcf;
  float: left;
}

.image {
  width: 980px;
  height: 550px;
}

.slick .slick-prev {
  z-index: 10;
  left: 25px
}

.slick .slick-next {
  right: 25px
}

h1 {
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 30px;
  font-size: 50px;
}

@media screen and (max-width:750px) {
  /* 画面サイズが750px以下はここを読み込む */
  body {
    font-size: 1.5rem;
  }

  .header {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .footer {
    text-align: center;
    width: 100%;
    height: 40px;
  }

  .main-wrap {
    text-align: left;
    width: 100%;
    height: auto;
  }

  .main-wrap>.main {
    width: 95%;
    height: auto;
    float: none;
    padding: 15px 0 15px 5%;
  }

  .main-wrap>.sidebar {
    width: 100%;
    height: 450px;
    float: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  h1 {
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 15px 30px;
    font-size: 2.5rem;
  }

  h2 {
    margin: 0;
  }

  dl {
    margin: 0;
  }
}

